---
apiVersion: v1
kind: Namespace
metadata:
  annotations:
    openshift.io/description: "Workshop project for user {{ username }}"
    openshift.io/display-name: "{{ project }}"
  labels:
    kubernetes.io/metadata.name: {{ project }}
    opendatahub.io/dashboard: "true"
  name: {{ project }}
  